
<header class="header">
    <div class="container">
        <div class="logo">
            <h1>My Site in Red</h1>
        </div>
        <nav class="nav">
            <ul>
                <li><a href="index.html" class="active">Home</a></li>
                <li><a href="pages/about_me/about_me.html">About me</a></li>
                <li><a href="pages/curriculum/curriculum.html">Resume</a></li>
                <li><a href="#">Articles</a></li>
            </ul>
        </nav>
        <div class="mobile-menu">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</header>
