<div class="search-bar">
        <div class="container search-bar-container">
            <form action="../../pages/searchs/resultsearch.html" method="get" class="search-form">
                <input type="text" name="q" placeholder="Search...">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/andre-bomfim/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://x.com/andrebomfim999" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a>
                <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://github.com/AndreBomfim99" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </div>
</div>